@import "../global/variable.scss";

.homepage-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .navbar-container {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .4);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);

        .navbar {
            width: 85%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                cursor: default;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .search-form {
                width: 200px;
                border-bottom: 2px solid rgba(0, 0, 0, .2);
                display: flex;
                align-items: center;
                position: relative;

                input {
                    width: 100%;
                    padding: 7px 15px;
                }

                button {
                    left: 90%;
                    font-size: 1.1rem;
                    position: absolute;
                }
            }

            .navigation {
                display: flex;
                align-items: center;
                column-gap: 50px;

                a {
                    width: fit-content;
                    font-size: 14px;
                    font-weight: 500;
                }

                a::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    background: #000;
                    transition: width .3s ease-in;
                }

                a:hover::after {
                    width: 100%;
                }
            }

            .login {
                width: fit-content;
                padding: 7px 40px;
                border: 2px solid black;
                border-radius: 10px;
                font-weight: 400;
                box-shadow: inset 0 0 0 0 black;
                transition: 0.5s;
            }

            .login:hover {
                box-shadow: inset 200px 0 0 0 black;
                color: #F5EEEA;
            }
        }
    }

    .inner-homepage {
        margin-top: 100px;
        width: 85%;
        display: flex;
        flex-direction: column;

        .header-title {
            text-align: center;
            margin-top: 50px;
            font-size: 5.5rem;
            font-weight: 600;
            word-spacing: 20px;
        }

        .section1 {
            margin-top: 3rem;
            width: 100%;
            display: flex;

            .menu-left {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    width: 100%;
                    font-size: 1.1rem;
                    font-weight: 300;
                    padding: 25px 30px;
                    border-bottom: 2px solid black;
                }

                a {
                    width: 100%;
                    font-size: 2rem;
                    font-weight: 600;
                    padding: 25px 30px;
                    border-bottom: 2px solid black;
                    box-shadow: inset 0 0 0 0 black;
                    transition: .5s;
                }

                a:hover {
                    box-shadow: inset 700px 0 0 0 black;
                    color: #F5EEEA;
                }
            }

            .menu-right {
                width: 40%;
                height: 530px;
                border: 2px solid black;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .section2 {
            margin-top: 3rem;
            width: 100%;
            display: flex;

            .brands {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                }
            }
        }

        .section3 {
            display: flex;
            margin-top: 3rem;
            border: 2px solid black;

            .highlight-left {
                width: 40%;
                height: 600px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .highlight-right {
                width: 60%;
                display: flex;
                flex-direction: column;

                .highlight-header {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    border-left: 2px solid black;
                    padding: 0 60px;

                    h2 {
                        margin-right: 2rem;
                        text-align: end;
                        font-size: 3.5rem;
                        font-weight: 500;
                    }
                }

                .highlight-items {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    border-left: 2px solid black;

                    .highlight-item {
                        width: 50%;
                        height: 100%;
                        border-top: 2px solid black;
                        padding: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        small {
                            width: 100%;
                            color: rgba(0, 0, 0, .6);
                            font-size: 1.1rem;
                        }

                        img {
                            width: 150px;
                            height: 150px;
                            object-fit: cover;
                        }

                        .price {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            strong {
                                font-size: 1.3rem;
                                font-weight: 700;
                                letter-spacing: 1px;
                            }

                            a {
                                font-weight: 600;
                                padding: 5px 25px;
                                border: 1px solid black;
                                transition: .3s;
                            }

                            a:hover {
                                background: black;
                                color: white;
                            }
                        }

                    }

                    .highlight-item:nth-child(1) {
                        border-right: 2px solid black;
                    }
                }
            }
        }

        .section4 {
            display: flex;
            margin-top: 3rem;
            height: 900px;
            width: 100%;
            column-gap: 50px;

            .trendy-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    border: 2px solid black;
                }

                .readmore {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    span {
                        font-size: 1.2rem;
                        font-weight: 400;
                    }

                    a {
                        width: fit-content;
                        font-weight: 600;
                        padding: 8px 25px;
                        border: 1px solid black;
                        transition: .3s;
                    }

                    a:hover {
                        background: black;
                        color: white;
                    }
                }
            }

            .trendy-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    border: 2px solid black;
                }

                strong {
                    font-size: 1.5rem;
                }
            }
        }

        .section5 {
            display: flex;
            margin-top: 7.5rem;
            height: 900px;
            width: 100%;
            column-gap: 50px;

            .trendy-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    border: 2px solid black;
                }

                strong {
                    font-size: 1.75rem;
                    font-weight: 600;
                }

            }

            .trendy-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    border: 2px solid black;
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    strong {
                        font-size: 1.5rem;
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .section6 {
            margin-top: 5rem;
            width: 100%;
            height: 1000px;
            display: flex;
            flex-direction: column;

            .about-us {
                width: 100%;
                height: 50%;
                display: flex;
                border: 2px solid black;

                img {
                    width: 50%;
                    height: 100%;
                    object-fit: cover;
                }

                .about-content {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        width: 100%;
                        height: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 3rem;
                        font-weight: 700;
                        border-left: 2px solid black;
                        border-bottom: 2px solid black;
                    }

                    span {
                        width: 100%;
                        height: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.3rem;
                        font-weight: 400;
                        padding: 30px 50px;
                        border-left: 2px solid black;
                    }
                }
            }

            .email {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-left: 2px solid black;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                row-gap: 50px;

                h2 {
                    font-size: 4rem;
                    font-weight: 700;
                }

                input {
                    width: 35%;
                    border: 2px solid black;
                    padding: 15px 20px;
                }

                button {
                    width: 20%;
                    background: black;
                    color: white;
                    font-weight: 700;
                    padding: 12px 0;
                    transition: .3s;
                    cursor: pointer;
                }

                button:hover {
                    background: rgba(0, 0, 0, .8);
                }
            }
        }
    }

    .footer-container {
        width: 100%;
        margin-top: 5rem;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-footer {
            width: 85%;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 0;

            .social {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .social-logos {
                    display: flex;
                    column-gap: 10px;

                    a {
                        i {
                            padding: 10px;
                            font-size: 1.5rem;
                            border: 1px solid white;
                            transition: .3s;
                        }

                        i:hover {
                            color: black;
                            background: white;
                        }
                    }
                }

                .foot-nav {
                    display: flex;
                    column-gap: 10px;

                    a {
                        font-size: 1.25rem;
                        font-weight: 300;
                        cursor: pointer;
                        color: rgba(255, 255, 255, .7);
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            .logo-container {
                height: 600px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    height: fit-content;
                    font-size: 9rem;
                    letter-spacing: 20px;
                    font-weight: 300;
                    position: absolute;
                    padding: 0 20px;
                    background: black;
                    cursor: default;
                }

                h2:nth-child(1) {
                    top: 14%;
                    z-index: 3;
                }

                h2:nth-child(2) {
                    top: 33%;
                    color: rgba(255, 255, 255, .6);
                    z-index: 2;
                }

                h2:nth-child(3) {
                    top: 52%;
                    color: rgba(255, 255, 255, .6);
                    z-index: 1;
                }
            }
        }
    }
}