@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.homepage-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homepage-container .navbar-container {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.homepage-container .navbar-container .navbar {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage-container .navbar-container .navbar h2 {
  cursor: default;
  font-size: 1.5rem;
  font-weight: 600;
}
.homepage-container .navbar-container .navbar .search-form {
  width: 200px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;
}
.homepage-container .navbar-container .navbar .search-form input {
  width: 100%;
  padding: 7px 15px;
}
.homepage-container .navbar-container .navbar .search-form button {
  left: 90%;
  font-size: 1.1rem;
  position: absolute;
}
.homepage-container .navbar-container .navbar .navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.homepage-container .navbar-container .navbar .navigation a {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}
.homepage-container .navbar-container .navbar .navigation a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s ease-in;
}
.homepage-container .navbar-container .navbar .navigation a:hover::after {
  width: 100%;
}
.homepage-container .navbar-container .navbar .login {
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 400;
  box-shadow: inset 0 0 0 0 black;
  transition: 0.5s;
}
.homepage-container .navbar-container .navbar .login:hover {
  box-shadow: inset 200px 0 0 0 black;
  color: #F5EEEA;
}
.homepage-container .inner-homepage {
  margin-top: 100px;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.homepage-container .inner-homepage .header-title {
  text-align: center;
  margin-top: 50px;
  font-size: 5.5rem;
  font-weight: 600;
  word-spacing: 20px;
}
.homepage-container .inner-homepage .section1 {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}
.homepage-container .inner-homepage .section1 .menu-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section1 .menu-left span {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 25px 30px;
  border-bottom: 2px solid black;
}
.homepage-container .inner-homepage .section1 .menu-left a {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 25px 30px;
  border-bottom: 2px solid black;
  box-shadow: inset 0 0 0 0 black;
  transition: 0.5s;
}
.homepage-container .inner-homepage .section1 .menu-left a:hover {
  box-shadow: inset 700px 0 0 0 black;
  color: #F5EEEA;
}
.homepage-container .inner-homepage .section1 .menu-right {
  width: 40%;
  height: 530px;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section1 .menu-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .inner-homepage .section2 {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}
.homepage-container .inner-homepage .section2 .brands {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section2 .brands img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.homepage-container .inner-homepage .section3 {
  display: flex;
  margin-top: 3rem;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section3 .highlight-left {
  width: 40%;
  height: 600px;
}
.homepage-container .inner-homepage .section3 .highlight-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .inner-homepage .section3 .highlight-right {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-header {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  border-left: 2px solid black;
  padding: 0 60px;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-header h2 {
  margin-right: 2rem;
  text-align: end;
  font-size: 3.5rem;
  font-weight: 500;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items {
  width: 100%;
  height: 50%;
  display: flex;
  border-left: 2px solid black;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item {
  width: 50%;
  height: 100%;
  border-top: 2px solid black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item small {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.1rem;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item .price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item .price strong {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item .price a {
  font-weight: 600;
  padding: 5px 25px;
  border: 1px solid black;
  transition: 0.3s;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item .price a:hover {
  background: black;
  color: white;
}
.homepage-container .inner-homepage .section3 .highlight-right .highlight-items .highlight-item:nth-child(1) {
  border-right: 2px solid black;
}
.homepage-container .inner-homepage .section4 {
  display: flex;
  margin-top: 3rem;
  height: 900px;
  width: 100%;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.homepage-container .inner-homepage .section4 .trendy-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section4 .trendy-left img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section4 .trendy-left .readmore {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.homepage-container .inner-homepage .section4 .trendy-left .readmore span {
  font-size: 1.2rem;
  font-weight: 400;
}
.homepage-container .inner-homepage .section4 .trendy-left .readmore a {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  padding: 8px 25px;
  border: 1px solid black;
  transition: 0.3s;
}
.homepage-container .inner-homepage .section4 .trendy-left .readmore a:hover {
  background: black;
  color: white;
}
.homepage-container .inner-homepage .section4 .trendy-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section4 .trendy-right img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section4 .trendy-right strong {
  font-size: 1.5rem;
}
.homepage-container .inner-homepage .section5 {
  display: flex;
  margin-top: 7.5rem;
  height: 900px;
  width: 100%;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.homepage-container .inner-homepage .section5 .trendy-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section5 .trendy-left img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section5 .trendy-left strong {
  font-size: 1.75rem;
  font-weight: 600;
}
.homepage-container .inner-homepage .section5 .trendy-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-container .inner-homepage .section5 .trendy-right img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section5 .trendy-right .detail {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.homepage-container .inner-homepage .section5 .trendy-right .detail strong {
  font-size: 1.5rem;
}
.homepage-container .inner-homepage .section5 .trendy-right .detail span {
  font-size: 1.1rem;
}
.homepage-container .inner-homepage .section6 {
  margin-top: 5rem;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.homepage-container .inner-homepage .section6 .about-us {
  width: 100%;
  height: 50%;
  display: flex;
  border: 2px solid black;
}
.homepage-container .inner-homepage .section6 .about-us img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage-container .inner-homepage .section6 .about-us .about-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homepage-container .inner-homepage .section6 .about-us .about-content h2 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.homepage-container .inner-homepage .section6 .about-us .about-content span {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 30px 50px;
  border-left: 2px solid black;
}
.homepage-container .inner-homepage .section6 .email {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  row-gap: 50px;
}
.homepage-container .inner-homepage .section6 .email h2 {
  font-size: 4rem;
  font-weight: 700;
}
.homepage-container .inner-homepage .section6 .email input {
  width: 35%;
  border: 2px solid black;
  padding: 15px 20px;
}
.homepage-container .inner-homepage .section6 .email button {
  width: 20%;
  background: black;
  color: white;
  font-weight: 700;
  padding: 12px 0;
  transition: 0.3s;
  cursor: pointer;
}
.homepage-container .inner-homepage .section6 .email button:hover {
  background: rgba(0, 0, 0, 0.8);
}
.homepage-container .footer-container {
  width: 100%;
  margin-top: 5rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-container .footer-container .inner-footer {
  width: 85%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}
.homepage-container .footer-container .inner-footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-container .footer-container .inner-footer .social .social-logos {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.homepage-container .footer-container .inner-footer .social .social-logos a i {
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid white;
  transition: 0.3s;
}
.homepage-container .footer-container .inner-footer .social .social-logos a i:hover {
  color: black;
  background: white;
}
.homepage-container .footer-container .inner-footer .social .foot-nav {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.homepage-container .footer-container .inner-footer .social .foot-nav a {
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.homepage-container .footer-container .inner-footer .social .foot-nav a:hover {
  text-decoration: underline;
}
.homepage-container .footer-container .inner-footer .logo-container {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-container .footer-container .inner-footer .logo-container h2 {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 9rem;
  letter-spacing: 20px;
  font-weight: 300;
  position: absolute;
  padding: 0 20px;
  background: black;
  cursor: default;
}
.homepage-container .footer-container .inner-footer .logo-container h2:nth-child(1) {
  top: 14%;
  z-index: 3;
}
.homepage-container .footer-container .inner-footer .logo-container h2:nth-child(2) {
  top: 33%;
  color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}
.homepage-container .footer-container .inner-footer .logo-container h2:nth-child(3) {
  top: 52%;
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}/*# sourceMappingURL=homepage.css.map */