.product-page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-page-container .setting-cover {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: end;
}
.product-page-container .setting-cover .animated {
  transform: translateX(0);
}
.product-page-container .setting-cover .non-animated {
  transform: translateX(100%);
}
.product-page-container .setting-cover .setting {
  width: 350px;
  height: 100%;
  background: white;
  padding: 20px 30px;
  position: relative;
  transition: transform 0.5s;
}
.product-page-container .setting-cover .setting #exitsetting {
  position: absolute;
  font-size: 1.75rem;
  top: 6%;
  left: 85%;
  border-radius: 50%;
  cursor: pointer;
}
.product-page-container .setting-cover .setting #exitsetting:hover {
  background: black;
  color: white;
}
.product-page-container .setting-cover .setting .setting-profile {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-page-container .setting-cover .setting .setting-profile strong {
  font-size: 1.2rem;
}
.product-page-container .setting-cover .setting .setting-profile span {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
.product-page-container .setting-cover .setting .setting-nav {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-page-container .setting-cover .setting .setting-nav a {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 7px 5px;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
}
.product-page-container .setting-cover .setting .setting-nav a i {
  font-size: 1.5rem;
}
.product-page-container .setting-cover .setting .setting-nav a span {
  font-size: 1rem;
  font-weight: 500;
}
.product-page-container .setting-cover .setting .setting-nav a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.product-page-container .setting-cover .setting .logout {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-page-container .setting-cover .setting .logout a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 7px 5px;
  transition: 0.3s;
  border-radius: 5px;
}
.product-page-container .setting-cover .setting .logout a i {
  font-size: 1.5rem;
}
.product-page-container .setting-cover .setting .logout a span {
  font-size: 1rem;
  font-weight: 500;
}
.product-page-container .setting-cover .setting .logout a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.product-page-container .opensetting {
  display: flex;
}
.product-page-container .closesetting {
  display: none;
}
.product-page-container .navbar-container {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: white;
}
.product-page-container .navbar-container .navbar {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page-container .navbar-container .navbar a {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}
.product-page-container .navbar-container .navbar .search-form {
  width: 200px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;
}
.product-page-container .navbar-container .navbar .search-form input {
  width: 100%;
  padding: 7px 15px;
}
.product-page-container .navbar-container .navbar .search-form button {
  left: 90%;
  font-size: 1.1rem;
  position: absolute;
}
.product-page-container .navbar-container .navbar .navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.product-page-container .navbar-container .navbar .navigation a {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}
.product-page-container .navbar-container .navbar .navigation a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s ease-in;
}
.product-page-container .navbar-container .navbar .navigation a:hover::after {
  width: 100%;
}
.product-page-container .navbar-container .navbar .ultilities {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.product-page-container .navbar-container .navbar .ultilities span i {
  font-size: 1.4rem;
  cursor: pointer;
}
.product-page-container .navbar-container .navbar .ultilities a i {
  font-size: 1.4rem;
}
.product-page-container .hero-section {
  width: 100%;
  display: flex;
  margin-top: 100px;
  position: relative;
}
.product-page-container .hero-section .hero-content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.product-page-container .hero-section .hero-content h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
.product-page-container .hero-section img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-page-container .inner-product-page {
  margin-top: 5rem;
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.product-page-container .inner-product-page .category {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.product-page-container .inner-product-page .category strong {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.product-page-container .inner-product-page .category .category-items {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.product-page-container .inner-product-page .category .category-items a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  border-top: 2px solid black;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.4s;
}
.product-page-container .inner-product-page .category .category-items .cate-item:hover {
  background: black;
  color: white;
}
.product-page-container .inner-product-page .category .category-items .empty {
  cursor: default;
}
.product-page-container .inner-product-page .product-header {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
}
.product-page-container .inner-product-page .filter {
  margin-top: 3rem;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}
.product-page-container .inner-product-page .filter .filter-items {
  display: flex;
  height: 100%;
}
.product-page-container .inner-product-page .filter .filter-items select {
  width: 200px;
  height: 100%;
  border-right: 2px solid black;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 700;
}
.product-page-container .inner-product-page .filter .filter-items select option {
  background: inherit;
}
.product-page-container .inner-product-page .filter span {
  padding-right: 25px;
}
.product-page-container .inner-product-page .product-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-page-container .inner-product-page .product-list .item {
  width: 100%;
  height: 450px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
}
.product-page-container .inner-product-page .product-list .item strong {
  font-family: "Fira Code", monospace;
  padding: 10px 20px;
  font-weight: 500;
}
.product-page-container .inner-product-page .product-list .item span {
  font-weight: 700;
  padding: 20px 0;
}
.product-page-container .inner-product-page .product-list .item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-page-container .inner-product-page .product-list .item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-page-container .footer-container {
  width: 100%;
  margin-top: 5rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-page-container .footer-container .inner-footer {
  width: 85%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}
.product-page-container .footer-container .inner-footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page-container .footer-container .inner-footer .social .social-logos {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.product-page-container .footer-container .inner-footer .social .social-logos a i {
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid white;
  transition: 0.3s;
}
.product-page-container .footer-container .inner-footer .social .social-logos a i:hover {
  color: black;
  background: white;
}
.product-page-container .footer-container .inner-footer .social .foot-nav {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.product-page-container .footer-container .inner-footer .social .foot-nav a {
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.product-page-container .footer-container .inner-footer .social .foot-nav a:hover {
  text-decoration: underline;
}
.product-page-container .footer-container .inner-footer .logo-container {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-page-container .footer-container .inner-footer .logo-container h2 {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 9rem;
  letter-spacing: 20px;
  font-weight: 300;
  position: absolute;
  padding: 0 20px;
  background: black;
  cursor: default;
}
.product-page-container .footer-container .inner-footer .logo-container h2:nth-child(1) {
  top: 14%;
  z-index: 3;
}
.product-page-container .footer-container .inner-footer .logo-container h2:nth-child(2) {
  top: 33%;
  color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}
.product-page-container .footer-container .inner-footer .logo-container h2:nth-child(3) {
  top: 52%;
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}/*# sourceMappingURL=productpage.css.map */